h1, h2 {
  font-weight: 400;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  img {
    margin-right: 16px;
  }
}

.main-container {
  max-width: 768px;
  margin: 96px auto;

  .intro {
    display: flex;
    
      img {
        height: 256px;
        margin-right: 16px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
        }

        .avg-review {
          display: inline-flex;
          flex-direction: column;

          .avg-wrapper {
            display: inline-flex;

            .avg-num {
              background: #4d9ff7;
              padding: 12px 24px;
              color: white;
              border-radius: 48px;
            }
          }
        }
      }
  }

  .star-widget {
    margin-bottom: 16px;
    display: flex;
  }

  textArea {
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 8px;

    &:active,&:focus {
      border: 2px solid #4d9ff7;
      outline: none !important;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    margin: 32px 0;
  }

  button {
    color: white;
    background: #4d9ff7;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background 200ms;

    &:hover {
      background: #185da7;
    }
  }
}